body {
	background: #d8d7d6 url('../img/background.jpg') no-repeat center top;
	background-size: cover;
}

#wrapper {
	width: 70%;
	margin: 0 auto;
	background-color: white;
	opacity: 0.96;
}

h1 {
	color: #6b7098;
	padding: 20px 0 0 30px;
}

h2 {
	font-weight: bold;
	padding: 10px 0 0 30px;
}
h3 {
		font-weight: bold;
	padding: 10px 0 0 30px;
}

p {
	padding: 0 10px 0 30px;
	width: 60%;
}

.text1 {
	position: relative;
	top: -30px;
	padding: 10px 10px 0 30px;
}

.text1 h2 {
	position:relative;
	color: #6b7098;
	padding: 10px 0 0 30px;
}

.cursive {
	text-align: center;
	font-style: italic;
}

aside {	
	position: absolute;
	right: 5%;
	border-left: solid;
	border-color: #6b7098;
	margin: 0 0% 0 60%;
}

aside p {
	margin: 0px 0px 0px 0px;
}

.text {
	position: relative;
	top: 0px;
	padding: 0px 0px 0 0px;
}

nav {
	position: absolute;
	top: 50px;
	left: 40%;
	color: #d8d7d6;
	padding: 2px;
	margin: 0 0 20px 10px;

}

nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav ul li {
	display: inline;
	border: solid #d8d7d6;
	background-color: white;
	padding: 5px 3px 5px 3px;
}

footer {
	position:absolute;
	margin: -10px 0 0 0;
}

/*---------- table-layout --------*/
table,th,td {
	border:1px solid black;
	border-collapse:collapse; /* enkele lijn, geen dubbele */
	margin: 0 0 0 10px;
}

th,td {
	padding:5px;
}

video {
	margin: 0 0 0 10px;
}